* {
  margin: 0;
  padding: 0;
}
body, html {
  height: 100%;
}
#app {
  /* width: 100%; */
  width: 450px;
  float: left;
  height: 100%;
}
.navs {
  float: left;
  width: 100px;
  height: 100%;
  background-color:#3FB781;
}
.posts {
  float: left;
  width: 350px;
  height: 100%;
}
.post-edit {
  margin-left: 450px;
  height: 100%;
  position: relative;
  border-left: 1px solid #eee;
}
.post-edit h2 {
  height: 70px;
  border-bottom: 1px solid #eee;
}
.post-edit .tools {
  background-color: #fff;
  height: 70px;
}
.post-edit h2 input {
  padding: 0 40px;
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  font-size: 30px;

}
.tools {
  background-color: green;
  height: 100px;
}
.tools .btn-wrap {
  width: 200px;
  float: right;
}
.tools .btn {
  
}
.posts h2 {
  padding 0 30px
  height: 70px;
  line-height: 70px;
  // text-align: center;
  color: #666;
  border-bottom: 1px solid #eee;
}
.CodeMirror {
  /* position: absolute;
  top: 100px;
  bottom: 0;
  left: 0; */
  /* height: 60% !important; */
  /* overflow-y: auto; */
}
.navs li {
  color: #fff;
}
.navs li a{
  display block
  width 100%
  height 100%
  padding 20px 0  
  color: #fff;
}
.post-list {
  list-style-type: none;
  padding: 0 20px;
}
.post-list .post a{
  color: #666;
  text-decoration: none;
}
.post-list .post-time {
  margin-bottom: 20px;
}

.navs
  ul
    li
      text-align center
      &:hover
        background-color rgba(0,0,0,.6)
  a
    color #fff
    text-decoration: none
.post-list
  li.post
    padding 20px
    .post-title
      position relative
      font-size 25px
      color #3FB781
      margin-bottom 10px
      .delete-btn
        position absolute
        right 10px
        top 5px
        border: 0
        padding: 5px 15px
        color #fff
        background-color #3FB781
        outline: 0
        &:active
          top 7px
    .post-time
      font-size 14px
    // background-color red
.btn-wrap
  margin-top 15px
  margin-right -10px
  .btn
    border: 0
    outline: none
    background-color #3FB781
    color #ffffff
    padding 10px
    cursor pointer
    &:hover
      background-color #297E5A
.add-img:hover
  background-color #297E5A
  cursor pointer