.comments
  margin 100px auto
  max-width 680px
  // padding 0 10px
  // background-color red
  // border: 1px solid #ddd
  .replay-box
    position relative
    box-sizing: border-box
    padding 0 20px
    margin-bottom 20px
    border: 1px solid #ddd
  input
    margin 0
    padding-top: 10px
    width 32.5%
    outline: none
    border: 0
    border-bottom: 2px dotted #ddd
    &:focus
      border-color: #000
  textarea
    margin-top 10px
    width 100%
    border: 0
    outline: none
    height 230px
    resize: none
  .post-comment
    background-color #000000
    color: #fff
    border: 0
    outline: none 
    cursor pointer
    position absolute
    bottom 10px
    right 10px
    font-size 15px
    padding 5px 8px
    &:hover
      // outline: 2px solid #111
    &:active
      bottom 8px
  .comment-list
    margin-top 30px
    width 100%
    .comment
      border: 1px solid #ddd
      width 100%
      padding 20px
      margin-top 10px
      .comment-header
        width 100%
        height 70px
        .avatar
          width 60px
          height 60px
          border-radius: 50%
        .name
          margin-left 30px
      // .comment-content
      .comment-time
        margin-top 20px
        font-size 14px
        letter-spacing: 2px
